/* -------- HOSTing styles -------- */



/* Reset + special */
* {border: 0px;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, b, i, ol, ul, li, fieldset, form, input, dl, dt, dd {padding: 0; margin: 0; border: 0; font-weight: lighter; font-weight: 300; vertical-align: baseline; word-wrap: break-word;}
ul {list-style-type: none;}
.clr {clear: both;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img {-ms-interpolation-mode:bicubic}
a:focus {outline: none;}
.dim {position: absolute; width: 100%; height: 100%; overflow: hidden; background-color: #ffffff; z-index: 9999;}
.noselect {-webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
::selection {color: #ffffff; background: #94aabe;}
::-moz-selection {color: #ffffff; background: #94aabe;}
html {height: 100%;}
body {overflow: auto; height: 100%; min-width: 970px; min-height: 600px; color: #d6e5ec; line-height: 150%; font-family: 'Roboto Condensed', Helvetica, sans-serif; text-transform: uppercase;}
b, strong, h1, h2, h3, h4, h5, h6 {font-weight: normal; font-weight: 400;}
i, em {font-style: normal;}
a:link, a:visited {color: #d1e4f2;}
a:hover {color: #d7ecfa; text-shadow: 0px -1px 8px #8be8ff;}



/* Universal */
.menu {position: fixed; top: 0; left: 0; width: 100%; min-width: 970px; height: 34px; margin: 0 auto; text-align: center; z-index: 20; color: #ffffff;}
.menu a {position: relative; top: 0; width: 70px; display: inline-block; height: 14px; line-height: 14px; color: #ffffff !important; padding: 10px 10px 7px 10px; margin: 0 2px 0 2px; font-size: 14px; font-weight: normal; text-decoration: none; border-bottom: 3px solid transparent;}
.menu .active {border-bottom: 3px solid #ffa227;}
.menu a:hover {text-shadow: 0 -1px 8px #8be8ff; border-bottom: 3px solid #ffa227;}
.menu a.active:hover {cursor: default; text-shadow: none;}
.menu .off {cursor: default; color: #9c9e9f !important;}
.menu .off:hover {color: #9c9e9f; border-bottom: 3px solid transparent !important; text-shadow: none;}

.logo_small {width: 320px; height: 140px; background: url('/images/logo_small_date.png') center center no-repeat;}

.footer {position: fixed; bottom: 0; left: 0; width: 100%; min-width: 970px; height: 28px; margin: 0 auto; text-align: center; z-index: 20;}
.copy {padding: 0 10px 20px 10px; font-size: 12px; text-align: center; line-height: 27px; text-transform: uppercase;}
.copy a, .copy a:visited {color: #8d9091; text-decoration: none;}
.copy a:hover {color: #9da7ab; text-decoration: none; text-shadow: 0px -1px 8px #baf1ff;}

#counters {position: fixed; bottom: -156px; left: 10px; z-index: 1005; width: 140px; height: 180px; text-align: left; background-image:url('/images/counters.png'); background-position: left top; background-repeat: no-repeat;}
.counters_list {padding-top: 30px; opacity: 0.40; -moz-opacity: 0.40; -khtml-opacity: 0.40; filter: alpha(opacity=40);}
.counters_list p {padding: 0; margin: 0; padding-bottom: 6px; font-size: 11px; color: #6b767b;}

.age {position: fixed; bottom: 50px; right: 20px; z-index: 22; width: 80px; height: 50px; background-image:url('/images/age.png');}
.age_small {position: fixed; bottom: 2px; right: 10px; z-index: 22; width: 36px; height: 24px; background-image:url('/images/age_small.png');}

.fancybox_img img {display: none !important;}



/* Section-specific */
body#index {background-color: #000000;}
body#index .menu {background-color: #1c323e;}
body#index .footer {color: #5b6367; background-color: #000000; border-top: 1px solid #1b2021;}

body#book {min-height: 850px; background-color: #834017; background-image: url('/images/bg_book.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
body#book .menu {background-color: #7a3900;}
body#book .footer {color: #918a7e; background-color: #7a3900; border-top: 1px solid #85460e;}

body#about {min-height: 900px; background-color: #1f0b04; background-image: url('/images/bg_about.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
body#about .menu {background-color: #2d1106;}
body#about .footer {color: #66605a; background-color: #130700; border-top: 1px solid #27160c;}

body#team {min-height: 840px; background-color: #000822; background-image: url('/images/bg_team.jpg'); background-position: left top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
body#team .menu {background-color: #25314f;}
body#team .footer {color: #4c536a; background-color: #000719; border-top: 1px solid #0c152e;}


body#team01 {min-height: 840px; background-color: #000000; background-image: url('/images/bg_team01.jpg'); background-position: center top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
body#team01 .menu {background-color: #5d1600;}
body#team01 .footer {color: #4c5154; background-color: #000000; border-top: 1px solid #181f25;}


body#video {background-color: #000000;}
body#video .menu {background-color: #000000;}
body#video .footer {color: #535e68; background-color: #000000; border-top: 1px solid #000000;}

body#gallery {min-height: 850px; background-color: #581705; background-image: url('/images/bg_gallery.jpg'); background-position: right top; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
body#gallery .menu {background-color: #2a1400;}
body#gallery .footer {color: #918a7e; background-color: #541c00; border-top: 1px solid #682d0f;}



/* Index */
.index_wrap {position: absolute; top: 0px; left: 0; width: 100%; min-width: 970px; height: 100%; min-height: 600px; overflow: hidden; z-index: 1; margin: 0 auto; text-align: center; background-image: url('/images/bg_index.jpg'); background-position: center top; background-repeat: no-repeat; background-size: contain;}

.logo_big, .logo_big_glow {position: absolute; right: 100px; top: 6.5%; width: 50%; max-width: 800px; height: 600px; background-position: center top; background-repeat: no-repeat;}
.logo_big {z-index: 3; background-image: url('/images/logo_big.png'); background-size: contain;}
.logo_big_glow {z-index: 2; background-image: url('/images/logo_big_glow.png'); background-size: contain;}

.index_text, .index_date {position: absolute; right: 90px; top: 3%; width: 50%; max-width: 800px; height: 600px; background-position: center top; background-repeat: no-repeat;}
.index_text {z-index: 5; background-image: url('/images/index_date.png'); background-size: contain;}
.index_date {z-index: 4; background-image: url('/images/index_text.png'); background-size: contain;}



/* About */
body#about .logo_small {position: absolute; top: 0; right: 0;}

.about {position: absolute; right: 0; top: 40px; width: 56%; min-width: 500px; z-index: 3; margin: 0 40px 20px 20px; padding: 160px 0 50px 0; color: #ffcb90; text-align: left; text-shadow: 0 1px 2px #3e1500;}

.about .slogan_wrap {padding: 0 0 20px 170px; font-size: 52px; font-weight: bold; line-height: 56px; color: #fff1e2;}
.about .slogan_wrap span.slogan {text-shadow: 0px 1px 8px #ff8f49;}

.about p.uno {padding-left: 120px; padding-bottom: 15px; font-size: 14px; color: #ffe0cc; line-height: 22px;}
.about p.dos {padding-left: 80px; padding-bottom: 18px; font-size: 16px; color: #ffd5b9; line-height: 24px;}
.about p.tres {padding-left: 30px; padding-bottom: 24px; font-size: 18px; color: #ffc7a1; line-height: 26px;}
.about p.cuatro {padding-left: 0; padding-bottom: 10px; font-size: 20px; color: #ffbc90; line-height: 28px;}

.about p b {font-weight: 400; text-shadow: 0px 1px 8px #ff8f49;}

.about p u {display: inline-block; padding-left: 5px; padding-right: 5px; font-weight: 300; text-decoration: none; text-shadow: none;}
.about p.tres u {line-height: 22px; border: 1px solid #ffc7a1;}
.about p.cuatro u {line-height: 24px; border: 1px solid #ffbc90;}

.about p i {display: inline-block; padding-left: 5px; padding-right: 5px; margin-right: 2px; font-weight: 300; font-style: normal; text-decoration: none; text-shadow: none;}
.about p.dos i {line-height: 22px; color: #1f0b04; background-color: #e6c1a8;}
.about p.tres i {line-height: 22px; color: #1f0b04; background-color: #deaf8f;}



/* Team */
body#team .logo_small {position: absolute; top: 40px; right: 40px; z-index: 8;}

.team_main, .team_glow {position: absolute; top: 70px; left: 58%; width: 600px; height: 900px; margin-left: -300px;}
.team_main {z-index: 6; background: url('/images/team_main.png') center top no-repeat;}
.team_glow {z-index: 5;}

a.team_link_01 {display: block; position: absolute; top: 230px; left: 210px; z-index: 8; width: 170px; height: 200px; text-decoration: none; }
div.team_hover_01 {display: block; position: absolute; top: 195px; left: 172px; z-index: 7; width: 254px; height: 254px; background: url('/images/team_hover_01.png') center center no-repeat; opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; filter: alpha(opacity=0);}

a.team_link_02, a.team_link_03, a.team_link_04, a.team_link_05, a.team_link_06, a.team_link_07, a.team_link_08, a.team_link_09 {display: block; position: absolute; z-index: 8; text-decoration: none;}

a.team_link_02 {top: 230px; left: 10px; width: 150px; height: 160px;}
a.team_link_03 {top: 150px; left: 440px; width: 130px; height: 130px;}
a.team_link_04 {top: 320px; left: 430px; width: 150px; height: 160px;}
a.team_link_05 {top: 50px; left: 160px; width: 130px; height: 130px;}
a.team_link_06 {top: 480px; left: 330px; width: 110px; height: 120px;}
a.team_link_07 {top: 440px; left: 120px; width: 110px; height: 120px;}
a.team_link_08 {top: 590px; left: 20px; width: 150px; height: 160px;}
a.team_link_09 {top: 650px; left: 240px; width: 130px; height: 160px;}

.team_glow_02, .team_glow_03, .team_glow_04, .team_glow_05, .team_glow_06, .team_glow_07, .team_glow_08, .team_glow_09 {position: absolute; opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; filter: alpha(opacity=0); background-position: center center; background-repeat: no-repeat;}

.team_glow_02 {top: 207px; left: -1px; width: 182px; height: 182px; background-image: url('/images/team_glow_m.png');}
.team_glow_03 {top: 136px; left: 436px; width: 144px; height: 144px; background-image: url('/images/team_glow_s.png');}
.team_glow_04 {top: 297px; left: 415px; width: 182px; height: 182px; background-image: url('/images/team_glow_m.png');}
.team_glow_05 {top: 36px; left: 156px; width: 144px; height: 144px; background-image: url('/images/team_glow_s.png');}
.team_glow_06 {top: 458px; left: 316px; width: 144px; height: 144px; background-image: url('/images/team_glow_s.png');}
.team_glow_07 {top: 419px; left: 106px; width: 144px; height: 144px; background-image: url('/images/team_glow_s.png');}
.team_glow_08 {top: 610px; left: 7px; width: 144px; height: 144px; background-image: url('/images/team_glow_s.png');}
.team_glow_09 {top: 668px; left: 236px; width: 144px; height: 144px; background-image: url('/images/team_glow_s.png');}



/* Video */
.trailer_wrap {position: absolute; top: 64px; width: 100%; height: 88%; margin: 0 auto 0 auto; z-index: 2; text-align: center;}



/* Gallery */
body#gallery .logo_small {position: absolute; top: 0; left: 20%;}

.gallery {position: absolute; left: 0; top: 40px; width: 62%; min-width: 500px; z-index: 3; margin: 0 40px 10px 10px; padding: 180px 0 70px 20px; color: #ffcb90; text-align: left; text-shadow: 0 1px 2px #3e1500;}

.gallery a.stills img {margin: 5px; border: 1px solid #d4c0aa;}
.gallery a.stills:hover img {opacity: 0.90; -moz-opacity: 0.90; -khtml-opacity: 0.90; filter: alpha(opacity=90); box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); -moz-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70); -webkit-box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.70);}









